/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	position: relative;
}
h1{
	font-size: 60px;
	width: 49%;
	height: 49%;
	padding: 40px;
	display: inline-block;
	text-align: center;
}
.navigation{
	width:100%;
	display: inline;
}

h2 {
	padding-bottom: 20px;
}

.navigation a {
    padding: 30px;
    border: 0;
    font-size: 100%;
	color: grey;
	text-decoration: none;
	list-style-type: none;
	margin: auto;
	position: relative;
	display: inline-block;

}
.button{
	margin-left: 80px;
	width: 160px;
	height: 40px;
	font-size: 20px;
	padding: 5px;
    border: 1px solid black;
	text-align: center;
	
}
.navImage{
	display: inline-block;
	margin-top: 10px;
	margin-left: 70px;
	
}

.headContainer {
	width: 100%;
	padding:100px;
}
.headImg {
	position: absolute;
    top: 50px;
    right: 100px;
    width: 100%ß;
    padding: 10px;
}
.topContent{
	border-top: 1px solid black;
	padding-top: 20px;
	margin: 0 auto;
}
.features{
	width: 49%;
	display: inline;
	padding: 20px;
	float: left;
}

.about{
	width: 49%;
	display: inline;
	padding: 20px;
	float: left;
}
.bottomContent{
	border-bottom: 1px solid black;
	padding: 30px;
	overflow: hidden	
}

.services {
	width:33%;
	float: left;
}
.products{
	width:33%;
	float: left;
}
.vision {
	width:33%;
	float: left;
}
.class{
	display: block
}

.middle-img{
	width:100%;
}

.contact{
	padding: 30px;
	display: block;
	line-height: 30px;
}
.address{
	
}
.phone{
	padding: 40px;
}
.footer{
	text-align: center;
}